body {
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
  width: 100%;
  box-shadow: 0 0 4px 4px #ccc;
  border-radius: 10px;
}
.box {
  position: absolute;
  box-sizing: border-box;
  padding: 5px;
  width: 50%;
  border: 1px dashed #ccc;
  border-radius: 10px;
}
.box img {
  width: 100%;
}
